* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  background-color: rgb(255, 255, 255);
  color: white;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 16px;
  font-family: "Lobster Two", cursive;
}
a {
  color: white;
  text-decoration: none;
}
.back-img {
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: -100;
  transform: translateX(-10%);
   img {
     width: 30%;
    
   }
}

.nav-container {
  background-color: black;
  .nav-bar {
    width: 80%;
    margin: auto;
    min-height: 10vh;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    ul {
      display: flex;
      justify-content: space-between;
      flex: 1;
      list-style: none;
  
      .jump-to-sign-in-page {
        color: #f98110;
        position: relative;
      }
      .jump-to-sign-in-page::after {
        content: "";
        position: absolute;
        top: -10px;
        right: -25px;
        height: 40px;
        width: 2px;
        background-color: white;
      }
      .jump-to-sign-in-page:hover {
        color: white;
      }
  
      a:hover {
        color: #f98110;
      }
    }
    #logo {
      flex: 1;
      position: relative;
      font-family: 'Roboto', sans-serif;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 45px;
        height: 45px;
        background-color: #f98110;
        border-radius: 50%;
        transform: translate(-10%, -25%);
        mix-blend-mode: screen;
      }
    }
    
    .start-here {
      background-color: #f98110;
      padding: 10px 20px;
    }
    .start-here:hover {
      background-color: white;
      color: #f98110;
    }
  }
}

// comment section
.comment-header {
  margin: 40px 0 0 0;
  text-align: center;
  h1 {
    padding: 10px;
    font-size: 45px;
    color: #f98110;
    font-family: "Roboto", sans-serif;
  }
}

.comment-container {
  box-sizing: content-box;
  display: flex;
 
  width: 100%;
  padding: 0.3rem 0;
 
  .comment-cards {
    display: flex;
    width: 100%;
    overflow-x: auto;
    scrollbar-color: #666 #ffffff;
    padding: 60px 20px;
  
    .comment-box:not(:first-child) {
      margin-left: -130px;
      z-index: 1;
    }

    .comment-box {
      overflow-y: auto;
      scrollbar-color: #f09819 #666;
      cursor: context-menu;
      width: 350px;
      height: 340px;
      padding: 35px;
      margin: 0;
      border-radius: 15px;
      box-shadow: 1px 3px 14px 0px rgba(99,95,99,1);
      color: white;
      background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
      // align-self: center;
      transition: .2s;
      
      &:hover{
        transform: translateY(-1rem);
      }
      
      &:hover ~ .comment-box{
        transform: translateX(130px);
      }
      .comment-box-img {
        background-image: url("../images/quotation-mark.svg");
        background-position: right bottom;
        background-size: 15%;
        background-repeat: no-repeat;
        background-color: transparent;
        padding: 25px 0;

      }  
      p {
        line-height: 1.5;
        padding: 5px;
      }
    }  
  } 
}
